<!-- File created on 07/28/2020 by Prachiti Garge -->
<!-- File Edited on 07/30/2020 by Yifan Yao: Correct useage of Bootstrap -->
<div class="container mc-auto">
  <div class="row">
    <div class="col-lg-5">
      <h1 class="pt-3">Conversations</h1>
      <ul class="list-group list-group-flush">
        <% @conversations.each do |conversation| %>
          <% if conversation.sender_id == current_user.id || conversation.receiver_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% receiver = User.find(conversation.receiver_id) %>
            <% else %>
              <% receiver = User.find(conversation.sender_id) %>
            <% end %>
            <% if current_user.id != receiver %>
              <li class="list-group-item show-conv"><%= link_to "#{receiver.full_name} (ID: #{receiver.id})", conversation_messages_path(conversation) %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>