<%# File Created on 07/19/2020 by Kevin Dong %>
<ul id="navigation">
  <% nav = YAML.load_file('./lib/assets/navigation.yml')%>
  <% nav["Navigation"].each do |ele| %>
    <li><a href="<%= ele["link"] %>"><%= ele["title"] %></a></li>
  <% end %>
</ul>