<!-- File Created on 07/22/2020 by Yifan Yao: Create an index for list all users -->
<!-- File Edited on 07/23/2020 by Yifan Yao: Create placeholders when reset_password_token does not exist -->
<!-- File Edited on 07/23/2020 by Yifan Yao: Bug fixed for display multiple rows -->
<!-- File Edited on 07/25/2020 by Yifan Yao: Add roles for Admin -->
<!-- File Edited on 07/29/2020 by Yifan Yao: Add traceable, create a partial file for list of users -->
<div class="container col-lg-9 bg">
  <h1 class="pt-3">Users</h1>
  <%= render 'user', @user %>
</div>
