/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* File Edited on 07/14/2020 by Yifan Yao: Import Bootstrap */
/* File Edited on 07/25/2020 by Yifan Yao: Refactor stylesheet */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

/* Created on 07/25/2020 by Kevin Dong */
/* File Edited 07/30/2020 by Yifan Yao: Unit convert */
html, .bg {
  background-color: white;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  align-content: center;
  margin: auto;
}

/* Created on 07/21/2020 by Kevin Dong */
.btn-outline-success {
  color: mediumpurple;
  border-color: mediumpurple;
}

/* Created on 07/21/2020 by Kevin Dong */
.btn-outline-success:hover {
  color: white;
  border-color: mediumpurple;
  background-color: mediumpurple;
}

/* Created on 07/25/2020 by Kevin Dong */
.btn-success {
  border-color: mediumpurple;
  background-color: mediumpurple;
}

/* Created on 07/27/2020 by Kevin Dong */
.btn-success:hover {
  border-color: rebeccapurple;
  background-color: rebeccapurple;
}

/* Created on 07/27/2020 by Kevin Dong */
.btn-primary {
  border-color: goldenrod;
  background-color: goldenrod;
}

/* Created on 07/27/2020 by Kevin Dong */
.btn-primary:hover {
  border-color: darkgoldenrod;
  background-color: darkgoldenrod;
}

/* Created on 07/21/2020 by Kevin Dong */
.navbar-brand, div h1 {
  color: goldenrod;
  font-weight: bold;
  font-style: normal;
}

/* Created on 07/26/2020 by Kevin Dong */
em {
  color: mediumpurple;
  font-weight: bold;
  font-style: normal;
}

/* Created on 07/26/2020 by Kevin Dong */
/* File Edited 07/30/2020 by Yifan Yao: Unit convert */
#User {
  float: right;
  display: block;
  padding: 1.2222222222em 1.2222222222em; /* 22 / 18 = 1.2222222222 */
}

/* Created on 07/26/2020 by Kevin Dong */
/* File Edited 07/30/2020 by Yifan Yao: Unit convert */
.carousel-inner {
  margin: auto;
  width: 35.5555555556em; /* 640 / 18 = 35.5555555556 */
}

/* Created on 07/29/2020 by Kevin Dong */
.required:after {
  content: "*";
  color: red;
}

/* File Edited on 07/21/2020 by Amanda Cheng: User Profile */
section {
  overflow: auto;
}

/* File Edited on 07/21/2020 by Amanda Cheng: User Profile */
textarea {
  resize: vertical;
}

/* File Edited on 07/21/2020 by Amanda Cheng: User Profile */
.center {
  text-align: left;
}

/* File Edited on 07/21/2020 by Amanda Cheng: User Profile */
/* File Edited 07/30/2020 by Yifan Yao: Error fixed */
.title {
  margin-bottom: 0;
}

/* File Edited on 07/21/2020 by Amanda Cheng: User Profile */
/* File Edited 07/30/2020 by Yifan Yao: Unit convert */
.center h2 {
  margin-bottom: 3.0555555556em; /* 55 / 18 = 3.0555555556 */
}

/* File Edited on 07/21/2020 by Amanda Cheng: User Profile */
/* File Edited 07/30/2020 by Yifan Yao: Unit convert */
.newItem {
  margin-bottom: 3.0555555556em; /* 55 / 18 = 3.0555555556 */
}


/* File Edited 07/27/2020 by Amanda Cheng: User Profile */
/* File Edited 07/27/2020 by Kevin Dong: User Profile better */
/* File Edited 07/30/2020 by Yifan Yao: Unit convert */
.thumbnail img {
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 16.6666666667em; /* 300 / 18 = 16.6666666667em */
  margin: auto;
}

/* File Edited 07/27/2020 by Amanda Cheng: User Profile */
.thumbnail img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* File Edited 07/27/2020 by Amanda Cheng: User Profile */
.item_title {
  font-weight: bolder;
  color: mediumpurple;
  border-color: mediumpurple;
}

/* File Edited 07/30/2020 by Yifan Yao: Increase size for link */
li a {
  font-size: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  line-height: 1em; /* 22 / 22 = 1 */
}
