<h2> New Item </h2>
<%= render 'form' %>
<%#= link_to '/profile/user_profile', 'profile#user_profile'%>
<%#= form_with model: @item do |f| %>
<!--  <p>-->
<!--    <%#= f.label :item %><br>-->
    <%#= f.text_field :item %>
<!--  </p>-->
<!--  <p>-->
    <%#= f.submit "Create"%>
<!--  </p>-->
<%# end %>